<launch>
    <node pkg="rosbag" type="play" name="rosbag" required="true" args="/media/iimkb/'My Passport'/usvData/20190107new/2019-01-07-fixed.bag"/>
    <node name="extract" pkg="image_view" type="extract_images" respawn="false" required="true" output="screen" cwd="ROS_HOME">
        <remap from="image" to="/mindcamera/image0"/>
    </node>
</launch>